h1{
	font-style: normal;
	width: 400px;
	font-weight: 300;
	position: absolute;
	font-size: 1.8em;
	color: #000;
  margin-left: 370px; 
  margin-top: 130px;
	font-family: 'Rock Salt', cursive;
}

h2{
  position: absolute;
	width: 470px;
	font-family: 'Almarai', sans-serif;
	font-weight: 100;
	font-style:normal;
	font-size: 1em;
	color: #333333;
  margin-top: 230px;
	margin-left: 370px;
}

.tab {
  position: absolute;
  overflow: hidden;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 20px;
}

.emphasis{
	font-weight: 600;
	position: relative;
	font-size: 1em;
	color: #333333;
	font-style: bold;
}

.white{
	color: #FFF;
}

img {
  width: 220px;
}

a {
  color: #333333;
  background-color: transparent;
  text-decoration: underline dotted;
}

a:hover {
	color: #7ba2ab;
}

.image-crop {
  position: absolute;
	max-width: 220px;
  width: auto;
  height: 220px;
  margin-top: 170px;
  margin-left: 870px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.3);
}

.tab button {
  background-color: inherit;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 14px;
  transition: 0.4s;
  border-radius: 24px;
  color: #333333;
}

.tab button:hover {
  background-color: #ffeca8;
}

.tab button.active {
  background-color: #ffeca8;
}