h1{
  font-style: normal;
  width: 400px;
  position: absolute;
  font-size: 1.1em;
  color: #000;
  font-family: 'Almarai', sans-serif;
  font-style: italic;
}

h2{
  position: absolute;
  width: 500px;
  font-family: 'Rock  Salt', sans-serif;
  font-weight: 100;
  font-size: 0.9em;
  line-height: 25px;
  color: #333333;
}

.emphasis{
  font-weight: 600;
  position: relative;
  font-size: 1em;
  color: #333333;
  font-style: bold;
}

.white{
  color: #FFF;
}

img {
  width:180px;
  height:auto;
}

.body {
  width:600px;
  height:100px;
  display:block;
  margin-left:20px;
}

.profile-crop {
  position: absolute;
  width: auto;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 0px;
  margin-left: 580px;
}

.tab {
  position: absolute;
  top:30%;
  left:20px;
  overflow: hidden;
  width: 100px;
  list-style: none;
}

a {
  color: #333333;
  background-color: transparent;
  text-decoration: underline dotted;
  transition: 0.2s;
}

a:hover {
  color: #fafafa;
}

.tab button {
  color: #dcddde;
  font-family:'Helvetica Neue';
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 14px;
  transition: 0.3s;
  border-radius: 16px;
}

.tab button:hover {
  color: #333333;
}

.tab button.active {
  color: #333333;
}