h1{
	font-style: normal;
	width: 400px;
	position: absolute;
	font-size: 3em;
	color: #000;
	font-family: 'Almarai', sans-serif;
}

h2{
  position: absolute;
	width: 550px;
	font-family: 'Almarai', sans-serif;
	font-weight: 100;
	font-size: 0.77em;
  line-height: 25px;
	color: #333333;
}

.emphasis{
	font-weight: 600;
	position: relative;
	font-size: 1em;
	color: #333333;
	font-style: bold;
}

.white{
	color: #FFF;
}

img {
  width:180px;
  height:auto;
}

a {
  color: #333333;
  background-color: transparent;
  text-decoration: underline dotted;
}

a:hover {
	color: #7ba2ab;
}

.profile-crop {
  position: absolute;
  width: auto;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 650px;
}

.body {
  width:600px;
  height:100px;
  display:block;
}


a:link {
  font-family:'Helvetica Neue';
  background-color: #fff;
  font-size: 14px;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  padding: 15px 14px;
  transition: 0.4s;
  border-radius: 24px;
  color: #d3d7dc;
  display:block;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #333333;
} 

.tab {
  position: absolute;
  top:25%;
  left:20px;
  overflow: hidden;
  width: 100px;
  list-style: none;
}